/* .header .backgroundHeader {
    background-color: rgba(1, 53, 109, 0.6);
    height: 600px;
  } */
  
  .header {
    background: url(../images/almanac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
  }
  
  
  
  
  
@media screen and (min-width: 0px) and (max-width: 679px) {
    .header {
      background: url(../images/ALMANACH_smart.jpg) center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      width: 100%;
    }
}
  
   
  