.saison-select{
    padding-bottom: 50px;
    padding-top: 30px;
}
button{
    background-color: #D42922;
    font-size: 25px;
    color: white;
    padding: 15px;
    border-radius: 15px;
}
.bouton{
    padding-bottom: 50px;
}

.select-btn-background{
    background-color: #343758;
}

.banana-title{
    font-size: 25px;
    color: white;
    padding-top: 20px;
}