.footerStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: "roboto", sans-serif;
    background: linear-gradient(180deg, #FD342C, #D42922);
    color: white;
    height: 120px;
  }
  .yearStyle {
    color: yellow;
  }
  .signature {
    color: white;
  }
  
  @media screen and (min-width: 0px) and (max-width: 769px) {
    .footerStyle {
      height: 80px;
    }
  }