
*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

.resultats{
font-family: "roboto", sans-serif;
background: linear-gradient(180deg, #F3831E, white); 
padding-top: 30px;
}

.titreResultat{
color: black;
padding-bottom: 30px;
}

@media screen and (min-width: 679px) {

.titreResultat{
color: white;
padding-bottom: 30px;
}
.leFlex{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.card{
border-radius: 15px;
background: #FAFAFA;
border: 1px solid black;
width: 80%;
margin-bottom: 40px;
padding: 20px;
}

.title-card{
display: flex;
flex-direction: column;
align-items: center; 
padding: 20px; 
}

.date-event{
color: black;
font-size: 20px;
}
.saisons{
color: black;
font-size: 20px;
}
.teams{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 20px; 
}

.team-name{
color: black;
font-size: 40px;
}
.Score{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 40px 20%;
}
.theScore{
color: black;
font-size: 80px;
font-weight: bold;
}
.tiret{
color: #CF2A26;
font-size: 80px;
font-weight: bold;

}

}

@media screen and (max-width: 679px) {
.titreResultat{
color: white;
padding-bottom: 30px;
}
.leFlex{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
}
.date-event{
color: black;
font-size: 20px;
}
.saisons{
color: black;
font-size: 10px;
}
.team-name{
font-size: 15px;
}
.theScore{
color: black;
font-size: 30px;
font-weight: bold;
}
.teams{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 20px; 
}
.tiret{
color: #CF2A26;
font-size: 30px;
font-weight: bold;
}
.card{
border-radius: 15px;
background: #FAFAFA;
border: 1px solid black;
width: 80%;
margin-bottom: 40px;
padding: 20px;
}
.Score{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 40px 20%; 
}
}

